* {
    margin: 0;
}
.app {
    background-color: #fafafa;
    /* height: 100vh; */
    /* border: 1px solid; */
}
.app__signup {
    display: flex;
    flex-direction: column;
}
.app__posts {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
