html, body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  height: 100vh;
}

.App {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}


.App ul li {
  list-style: none;
}

.ProductListPage ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Product {
  width: 250px;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 8px;
}

.Product img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.Product .Product__info {
  display: flex;
  justify-content: space-between;
}

.ProductDetail {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 24px;
  border: 1px solid #ccc;
}

.ProductDetail img {
  width: 700px;
}

.ProductDetail .ProductDetail__info {
  border: 1px solid #ccc;
  flex: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.ProductDetail__price {
  text-align: right;
  font-size: 1.5rem;
}

.ProductDetail__info select {
  margin-top: 16px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #ccc;
}

.ProductDetail__selectedOptions {
  border: 1px solid #ccc;
  margin-top: auto;
  margin-bottom: 16px;
  padding: 16px;
}

.ProductDetail__selectedOptions h3 {
  margin-top: 0;
}

.ProductDetail__selectedOptions input {
  width: 50px;
}

.ProductDetail__selectedOptions li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ProductDetail ul {
  margin-bottom: 16px;
}

.OrderButton {
  width: 100%;
  border-radius: 8px;
  background-color: #1890ff;
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #40a9ff;
  padding: 10px;
}

.OrderButton:hover {
  cursor: pointer;
  background-color: #0050b3;
}

.ProductDetail__totalPrice {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 16px;
}

.CartPage {
  width: 600px;
  margin: 0 auto;
}

.Cart {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 16px;
}

.Cart__item {
  padding: 16px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.Cart ul img {
  width: 100px;
  margin-right: 16px;
}

.Cart__itemDesription {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Cart__totalPrice {
  font-size: 24px;
  text-align: right;
  padding-right: 16px;
  margin-bottom: 16px;
}

}